.crono {
	border-radius: 5px;
	max-width: 400px;
	margin: auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.crono .header {
	border-bottom: 2px solid #bbb;
	text-align: center;
	background: rgb(137, 0, 217);
}

.crono .header h2 {
	margin: 0;
	padding: 4px 0;
}

.crono .timer {
	background: #FEDCD2;
	color: rgba(156, 39, 176, 0.7) ;
	font-size: 50px;
	text-align: center;
	font-family: Lucida, Console, monospace;
}

.crono .actions {
	margin: 0;
	padding: 20px;
	text-align: center;
	background: #e1bee7;
	border-top: 2px solid #fff;
}

.crono button {
	padding: 4px 8px;
	background: #FEDCD2;
	color: rgba(156, 39, 176, 0.7);
	font-weight: bold;
	font-size: 21px;
	border: 2px solid #666;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 10px;
}
.crono button:hover {
	color: #171226;
	background: #FFF;
}

.estiloLetras{
	color: #3f51b5 !important
}

