.upload_btn_wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 2em;
}

.contenedor {
    height: 20rem;
    width: 25rem;
    float:left;
    padding: 0.5rem;
    margin-left: 2rem;
   
  }
.contenedor:hover{
  border-radius:50%;
  -webkit-border-radius:50%;
 }

.contenedor {overflow:hidden;}
  .float-left {
    float: left;
   
  }
  
  .border {
    border: 2px solid; 
  }
  




 